body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 12px;
  }